{% extends "base.html" %}

{% block content %}
<h2 class="mb-4 text-center">Add Patient</h2>

<div class="card shadow border-0 p-4">
    <form method="POST">
        <div class="mb-3">
            <label class="form-label">Patient Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number" name="age" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Disease</label>
            <input type="text" name="disease" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Department</label>
            <select name="required_department" class="form-select" required>
                {% for d in departments %}
                <option value="{{ d.id }}">{{ d.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Priority</label>
            <select name="priority" class="form-select" required>
                <option>Extreme</option>
                <option>High</option>
                <option>Moderate</option>
                <option>Normal</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Add Patient</button>
    </form>
</div>
{% endblock %}